@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
    --dark-blue: #2E5266;
    --med-blue: #6E8898;
    --light-blue: #9FB1BC;
    --grey: #D3D0CB;
    --yellow: #E2C044;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey);
}


header {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    height: 100px;
    top: 0;
    position: static;
}

header h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 10px; 
}

.is-medium {
    width: 50%;
}

.introSection{
    margin: 15px;
}


.weather-term {
    text-align: center;
    font-size: 16px;
}

.hourly-weather-term {
    text-align: center;
    font-size: 16px;
}

.hour {
    text-align: center;
    font-size: 20px;
}

#todays-weather {
    font-size: 20px;
    text-align: center;
}

#searchBtn {
    background-color: var(--yellow);
    margin-left: 10px;
    right: -35%
}

#submitBtn {
    float: right;
    width: 300px;
    height: 80px;
    border-radius: 25px;
    background-color: var(--yellow);
    color: var(--dark-blue);
    position: absolute;
    right: 15%;
    top: 38%;
    font-size: 28px
}

#backBtn {
    background-color: var(--yellow);
    margin: 10px;
    top: 10%;
}
 
.card-title {
    text-align: center;
    font-size: 24px;
}


footer {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    height: 100px;
    bottom: 0;
    position: static;
    text-align: center;
    font-size: 24px;
    margin-top: 20%;
}


