@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
    --dark-blue: #2E5266;
    --med-blue: #6E8898;
    --light-blue: #9FB1BC;
    --grey: #D3D0CB;
    --yellow: #E2C044;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey);
}


header {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    height: 100px;
    top: 0;
    position: static;
}

header h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 10px; 
    line-height: normal;
}

.is-medium {
    width: 50%;
}

#searchBtn {
    background-color: var(--yellow);
    right: -35%
}

#submitBtn {
    float: right;
    width: 300px;
    height: 80px;
    border-radius: 25px;
    background-color: var(--yellow);
    color: var(--dark-blue);
    position: absolute;
    right: 15%;
    top: 38%;
    font-size: 28px
}

.introSection {
    margin: 15px;
}

#backBtn {
    background-color: var(--yellow);
    font-size: 28px;
    margin: 25px;
    top: 10%;
    margin-left: 40px;
    height: 70px;
    width: 150px;
}
title.is-ancestor {
    margin: 50px;
}

.content.is-12{
    color: white;
    height: fit-content;
    margin: auto;
}

.weather-box {
    width: 30%;
    background-color: var(--med-blue);
    margin-left: 50px;
}

#today-weather-city p{
    font-size: 20px;
}

#todays-weather {
    font-size: 20px;
    text-align: center;
}

.weather-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.weather-term {
    text-align: center;
    font-size: 16px;
    line-height: .25em;
    margin: 0;
    padding: 0;
}

.hourly-weather-term {
    text-align: center;
    font-size: 16px;
    line-height: .25em;
    margin: 10px;
    padding: 0;
}

.hour-card {
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: var(--yellow);
}

.three-hour-title {
    background-color: var(--dark-blue);
}

#three-hour {
    width: 80%;
    text-align: center;
    line-height: .20em;
    position: relative;
    left: 7%;
    height: 80%;

}

.hour {
    text-align: center;
    font-size: 20px;
}

#quote-card {
    height: 75%;
    margin: 30px;
    background-color: var(--light-blue);
}

#quote-card p {
    font-size: 33px;
}

#soundcloud-card {
    margin: auto;
    height: fit-content;
}

.is-child {
    margin: 0;
    padding: 0;
    line-height: .25em;
}

.card-title {
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    height: 100px;
    bottom: 10%;
    position: relative;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}